@import "../../utils/colours";

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  #nav {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      position: relative;

      .logo {
        margin: 0.5rem 0;

        a {
          display: flex;
          flex-direction: row;
          align-items: center;

          svg {
            width: 1.4rem;
            height: auto;
          }

          h1 {
            color: black;
            margin-left: 1rem;
            font-size: 1.7rem;
            font-weight: 400;
            display: none;
          }
        }
      }

      .navigation {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 1s ease;
        z-index: 10;

        &.active {
          transform: translateY(0);
        }

        .nav-links {
          display: flex;
          flex-direction: column;
          align-items: center;

          .nav-link {
            margin: 0.7rem 0;
            text-align: center;

            a {
              font-size: 1.3rem;
              font-weight: 400;
              color: #1b1b1a;
            }

            span {
              font-size: 1.3rem;
              font-weight: 400;
              color: #1b1b1a;
              cursor: pointer;
            }
          }
        }
      }

      .hamburger {
        cursor: pointer;
        display: inherit;
        z-index: 11;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    #nav {
      .nav {
        .logo {
          a {
            h1 {
              display: initial;
            }
          }
        }

        .hamburger {
          display: none;
        }

        .navigation {
          position: relative;
          width: initial;
          height: initial;
          display: initial;
          transform: translateY(0);
          transition: none;

          .nav-links {
            flex-direction: row;

            .nav-link {
              margin: 0 1rem;

              &:first-child {
                margin-left: 0;
              }

              &:last-child {
                margin-right: 0;
              }

              &:nth-last-child(1) {
                a {
                  color: $main;
                }
              }

              &:nth-last-child(2) {
                a {
                  color: $main;
                }
              }

              a {
                font-size: 1rem;
              }

              span {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
